**{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
body{
	font-family: 'Rubik', sans-serif;
	overflow-x: hidden;
}
.menu-holder{
	width: 100%;
	height: 50px;
	padding-top: 30px;
}
.menu-holder .logo{
	padding-top: 10px;
	float: left;
}
.menu-holder ul{
	list-style: none;
	float: right;
}
.main-menu li{
	letter-spacing: 1px;
}
.main-menu li a:hover{
	color: hsl(0, 94%, 66%);
	text-decoration: none;
}
.main-menu .btn{
	background: hsl(0, 94%, 66%);
	padding-top: 8px;
	padding-bottom: 8px;
	margin-left: 20px;
}


.main-menu .btn:hover{
	background: #fff;
	border: 2px solid hsl(0, 94%, 66%);
	margin:-2px;
	color: hsl(0, 94%, 66%) !important;
}


#check, #close{
	display: none;
}
.checkbtn, .closebtn {
	font-size: 30px;
	color: white;
	float: right;
	line-height: 45px;
	margin-right: 10px;
	cursor: pointer;
	display: none;
}
.mini-menu-controller{
	display: none;
}
.menu-holder li{
	display: inline-block;
}
.menu-holder li a{
	text-transform: uppercase;
	color: hsl(229, 31%, 21%);
	padding: 10px 20px;
}
.level_1{
	margin-top: 5%;
	position: relative;
}
.right-bg{
	position: absolute;
	right: -9%;
	bottom: -20px;
	width: 40%;
	height: 300px;
	border-top-left-radius: 100px;
	border-bottom-left-radius: 100px;
	background: hsl(231, 69%, 60%);
	z-index: -1;
}
.level_1 h1{
	font-size: 42px;
	margin-top: 60px;
}
.level_1 p{
	font-size: 15px;
}

.level_4 p{
	font-size: 15px;
}
.level_5 p{
	font-size: 15px;
}

.level_3 p{
	font-size: 15px;
}



.level_1 .bordered-one{
	background: hsl(231, 69%, 60%);
	margin-right: 10px;
}
.level_1 .bordered-two{
	background: #f0f0f0;
	margin-right: 10px;
}
.img-right{
	right: -50px;
}
.level_2{
	margin-top: 15%;
	margin-bottom: 2%;
}
.level_2 p{
	font-size: 15px;
}
.nav-pills{
	border-bottom: 1px solid hsl(229, 8%, 60%);
	padding-left: 0;
	padding-right: 0;
}
.nav-pills .nav-item{
	margin: auto;
}
.nav-pills .nav-item a{
	background: none !important;
	/*color: hsl(229, 31%, 21%);*/
	font-weight: 500;
	border-radius: 0;
	padding-bottom: 20px;
}
.nav-pills .nav-item a.active{
	/*color: hsl(0, 94%, 66%);*/
	border-bottom: 3px solid hsl(0, 94%, 66%);
	
}
.tab-one .btn, .tab-two .btn, .add-btn{
	background: hsl(231, 69%, 60%);
}
.tab-one-right, .tab-two-right,.tab-three-right{
	padding-top: 3em;
}
.left-bg{
	position: relative;
    top:-220px;
	left: -19%;
	bottom: -60px;
	width: 50%;
	height: 300px;
	border-top-right-radius: 100px;
	border-bottom-right-radius: 100px;
	background: hsl(231, 69%, 60%);
	z-index: -1;
}
.level_4{
	margin-top: 10em;
}
.firefox{
	margin-top: 5%;
}
.opera{
	margin-top: 10%;
}
.browser-card .card{
	box-shadow: 2px 1px 30px 2px rgba(0,0,0,0.1);
	border: none;
	border-radius: 30px;
	padding-bottom: 10px;
}
.level_5{
	margin-top: 6%;
	width: 50%;
}
#accordion h5 a{
	font-size: 14px;
	color: hsl(229, 31%, 21%);
}
#accordion h5 a.active{
	color: hsl(0, 94%, 66%);
}
#accordion .card-header{
	background: none !important;
	border-top: 1px solid lightgray;
	border-bottom: 1px solid lightgray;
}
#accordion .card{
	border: none;
}

.footer{
	margin-top: 5%;
	background: hsl(231, 69%, 60%);
	padding-top: 4%;
	padding-bottom: 4%;
}
.footer p{
	letter-spacing: 4px;
	font-size: 13px;
}
.contact-btn{
	background: hsl(0, 94%, 66%);
}
.logo-footer{
	background: hsl(229, 31%, 21%);
	padding-top: 2%;
	padding-bottom: 1%;
}
.footer-menu{
	list-style: none;

}
.footer-menu li{
	display: inline-block;
	text-transform: uppercase;
	font-size: 14px;
	padding-right: 15px;
	padding-left: 15px;
}
.footer-menu li a{
	color: white;
	text-decoration: none;
}
.footer-menu li a:hover{
	color: hsl(0, 94%, 66%);
}
.icon i{
	font-size: 20px;
	margin-right: 10px;
}
.icon a:hover{
	color: hsl(0, 94%, 66%);
}

@media(max-width: 1680px){
	.right-bg{
		right: -22% !important;
		width: 55%;	
	}
	.left-bg{
		left: -25% !important;
		width: 65%;
	}
}
@media(max-width: 1440px){
	.right-bg{
		right: -12.4% !important;
		width: 42%;	
	}
	.left-bg{
		left: -13% !important;
		width: 55%;
	}
}
@media(max-width: 1366px){
	.right-bg{
		right: -9% !important;
		width: 42%;	
	}
}

@media(max-width: 1280px){
	.right-bg{
		right: -5.2% !important;
	}
}
@media(max-width: 1024px){
	.img-right{
		right: 0;
		max-width: 90%;
		height: 350px;
	}
	.right-bg{
		right: -2.4% !important;
		top: 28%;
		width: 40%;
		height: 250px;
	}
	.level_1 h1{
		font-size: 36px;
		margin-top: 50px;
	}
	.level_1 p{
		font-size: 16px;
	}
	.nav-pills .nav-item{
		font-size: 14px;
		margin-right: 0px !important;
	}
	.tab-one img, .tab-two img, .tab-three img{
		max-width: 80%;
		height: 250px;
	}
	.left-bg{
		left: -9%;
		bottom: -60px;
		width: 45%;
		height: 250px;
	}
	.contact-btn-holder{
		padding: 0;
	}
	.contact-btn{
		width: 100%;
		font-size: 12px;
		padding-top: 8px;
		padding-bottom: 8px;
		margin: 0;
	}
}
@media(max-width: 991px){
	.level_1 h1{
		font-size: 28px;
		margin-top: 10px;
	}
	.level_1 p{
		font-size: 13px;
	}
	.level_1 .bordered-one{
		font-size: 13px;
		margin-right: 10px;
		padding-left: 10px !important;
		padding-right: 10px !important;
	}
	.level_1 .bordered-two{
		font-size: 13px;
		margin-right: 0px;
		padding-left: 10px !important;
		padding-right: 10px !important;
	}
	.img-right{
		right: -40px;
		max-width: 90%;
		height: 250px;
	}
	.right-bg{
		right: -17.5% !important;
		top: 28%;
		width: 50%;
		height: 180px;
	}
	.level_2{
		margin-top: 10%;
	}
	.level_2 p{
		font-size: 13px;
	}

	.level_3 p{
		font-size: 13px;
	}

	.level_3 .nav-pills{
		display: block !important;
	}
	.nav-pills .nav-item{
		border-top: 0.5px solid lightgray;
		border-bottom: 0.5px solid lightgray;
	}
	.tab-one img, .tab-two img, .tab-three img{
		max-width: 80%;
		height: 200px;
	}
	.left-bg{
		left: -18%;
		top: 45%;
		width: 55%;
		height: 180px;
	}
	.tab-one-right h4, .tab-two-right h4, .tab-three-right h4{
		margin-top: -10%;
		font-size: 22px;
	}
	.tab-one-right p, .tab-two-right p, .tab-three-right p{
		font-size: 13px;
	}
	.tab-one-right a, .tab-two-right a, .tab-three-right a{
		font-size: 13px;
	}
	.level_4{
		margin-top: 8em;
	}
	.level_4 p{
		font-size: 13px;
	}
	.level_5 p{
		font-size: 13px;
	}
	.add-btn{
		font-size: 13px;
	}
	.logo-footer ul li{
		font-size: 13px
	}
	
}
@media(max-width: 858px){
	
	.footer-menu{
		list-style: none;
		justify-content: center;
	
	}
	.footer-menu li{
		display: inline-block;
		text-transform: uppercase;
		font-size: 14px;
		margin-right: 25px;
		padding-right: 0px;
		padding-left: 0px;
	}
	.footer-menu li a{
		color: white;
		text-decoration: none;
	}

	.level_5{
		margin-top: 6%;
		width: 95%;
	}

	.checkbtn, .closebtn{
		display: block;
	}
	.closebtn{
		position: absolute;
		top: -10px;
		right: 20px;
		font-size: 20px;
	}
	.mini-menu-controller{
		display: block;
		position: absolute;
		top: 40px;
		text-align: left;
		padding-left: 30px;
	}
	.main-menu{
		position: fixed;
		width: 100%;
		height: 100vh;
		background: rgba(37, 43, 70, 0.9);
		left: -120%;
		text-align: center;
		transition: all .5s;
		margin-top: -30px;
		padding-top: 100px;
		z-index: 2;
	}
	.main-menu li:nth-child(1){
		border-top: 1px solid lightgray;
	}
	.main-menu li{
		display: block !important;
		margin: 10px 30px;
		padding: 10px 0;
		border-bottom: 1px solid lightgray;
	}
	.main-menu li:nth-child(4){
		border-bottom: none;
	}
	.main-menu .btn{
		background: unset;
		margin-left: 0;
		border: 2px solid white;
		width: 100% !important;
	}
	.main-menu li a{
		color: #fff;
	}
	#check:checked ~ .main-menu{
		left: 0px;
	}
}
@media(max-width: 800px){
	.right-bg{
		right: -4.4% !important;
		top: 28%;
		width: 45%;
	}
	.img-right{
		right: 0px;
	}
	.footer h3{
		font-size: 18px;
	}
	.form-row input{
		font-size: 13px;
	}
	.contact-btn{
		width: 100%;
		font-size: 10px;
		padding-top: 8px;
		padding-bottom: 8px;
		padding-left: 0;
		padding-right: 0;
		margin: 0;
	}
}
@media(max-width: 768px){
	.right-bg{
		right: -2% !important;
		top: 28%;
		width: 45%;
	}
	.img-right{
		right: 0px;
	}.footer h3{
		font-size: 18px;
	}
	.form-row input{
		font-size: 13px;
	}
	.contact-btn{
		width: 100%;
		font-size: 10px;
		padding-top: 8px;
		padding-bottom: 8px;
		padding-left: 0;
		padding-right: 0;
		margin: 0;
	}

	.contact-btn-holder{
		padding: 0;
		margin-left:35%;
		margin-right:35%;
	}
	
}
@media(max-width: 576px){
	.level_1{
		margin-top: 10%;
	}
	.banner-left{
		order: 1;
	}
	.banner-right{
		height: 280px;
	}
	.banner-right img{
		max-width: 100%;
		right: 0;
		height: 260px;
	}
	.right-bg{
		top: 12%;
		right: -3.5% !important;
		width: 90%;
		height: 180px;
	}
	.banner-left{
		text-align: center;
	}
	.banner-left h1{
		margin-top: 40px;
		font-size: 32px;
		text-align: center;
	}
	.banner-left p{
		text-align: center;
	}
	.level_2{
		margin-top: 20%;
	}
	.bordered-one{
		width: 46%;
		font-size:13px;
		padding-left: 0px !important;
		padding-right: 0px !important;
	}
	.bordered-two{
		width: 46%;
		font-size:13px;
		margin-right: 0;
		padding-left: 0px !important;
		padding-right: 0px !important;
	}
	.level_3 .nav-pills{
		display: block !important;
		margin-top: 5%;
	}
	.nav-pills .nav-item{
		border-top: 0.5px solid lightgray;
		border-bottom: 0.5px solid lightgray;
	}
	.tab-one img, .tab-two img, .tab-three img{
		max-width: 100%;
		height: 220px;
	}
	.left-bg{
        position: relative;
		left: -9%;
		top: -55%;
		width: 90%;
		height: 220px;
	}
	.tab-one-right h4, .tab-two-right h4, .tab-three-right h4{
		margin-top: 10%;
		text-align: center;
	}
	.tab-one-right p, .tab-two-right p, .tab-three-right p{
		text-align: center;
	}
	.tab-one-right a, .tab-two-right a, .tab-three-right a{
		display: none;
	}
	.level_4{
		margin-top: 5em;
	}
	.browser-card .card{
		margin-bottom: 5%;
	}
	.opera{
		margin-top: 5%;
	}
	.level_5 button{
		margin-top: 10%;
		margin-bottom: 10%;
	}
	.footer{
		padding-top: 15%;
		padding-bottom: 15%;
	}
	.footer h3{
		font-size: 24px;
	}
	.footer button{
		margin-top: 15px;
	}
	.logo-footer{
		padding-top: 8%;
		padding-bottom: 5%;
	}
	.logo-footer ul li{
		display: block;
		text-align: center;
		margin-top: 20px;
		margin-bottom: 20px;
	}
	.logo-footer .col-md-3{
		text-align: center !important;
	}
	.icon i{
		font-size: 24px;
		margin-right: 10px;
	}
}
