*{
    margin:0px;
    padding:10px;
    box-sizing: border-box;
    
    
  }

  a {
    text-decoration: none;
  }

body {
    
 font-family: 'Montserrat', sans-serif;
 background: white;
}  

.padre {
 display: flex;
 flex-flow: column nowrap;
 max-width: 1200px;
 height: auto;
 margin: auto;
 background: white;
 padding-top: 0px;
 padding-left: 0px;
 padding-right: 0px;
 /*background-size: cover;*/
}



    .header {
        /*background: url(images/header.jpg);
        background-position: center;
        background-attachment: contain;
        background-size: cover;*/
        display: flex;
        flex-flow: column nowrap;
        background: url(images/header.jpg);
 background-position: center;
 background-attachment: contain;
       
    }
        .menu{
            background: rgba(0,0,0,0);
            display:flex;
            flex-flow: row nowrap;
            height: 60px;
            align-items: center;
            
        }
            .logo{
              
               padding-left: 0px;
               flex: 1 auto;
               padding: 0;
               margin: 0;
               
            }
            .nav{
                flex: 7 1 auto;
                justify-content: space-around;
                flex-direction: row;
                display: flex;

            }

                .nav a {
                   color: #555;
                   font-size: 12;
                   padding: 0 10px;
                   letter-spacing: 0px;

                }

                .nav a:hover {
                    color:#AAA;
                }

            .social {
                flex: 1 1 auto;
                display: flex;
            }

                .social a {
                    font-size: 18px;
                    color: #555;
                    padding: 0 0px;
                }

                .social a:hover {
                    color:#AAA;
                }

        .texto-principal_old {
            background: #f07b3f;
        }
            h1_old {
                background: #ffd460;
            }

            .texto-principal {
                background: rgba(0,0,0,0.1);
                margin-top: 200px;
                height: 135px;
                margin-bottom: -10px;
                margin-left: 40px;
                margin-right: 40px;
               
            }
                h1 {
                    display: flex;
                    text-align: center;
                    color:rgba(245, 156, 123, 0.75);
                    justify-content:space-around; 
                }


    .section {
        background: #D8D7D7;
        display: flex;
        margin-top: 10px;
        flex:4 1 auto;
        width: 100%;
    }

        .articulos {
            background: #D8D7D7;
            flex:1 1 auto;
            display: flex;
            flex-flow: row wrap;
            padding: 0px;
            
            
        }

       
                .subarticulos {
                    background: #ececec;
                    
                    flex:1 1 auto;
                    display: flex;
                    flex-flow: row nowrap;
                    color:#444;
                    font-size: 15px;
                   
                    letter-spacing: 1px;
                    flex: 1 1 40%;
                    margin: 0px 10px 0 0px;
                    background: #ececec;
                    padding: 0px;
                    margin-bottom: 0px;
                }
        
            .article {
                /*background: #1f6cb0;*/
                color:#444;
                font-size: 13px;
                letter-spacing: 1px;
                flex: 1 1 40%;
                margin: 0px 10px 0 0px;
                background: #ececec;
                padding: 0px;
                margin-bottom: 20px;
                padding-bottom: 20px;
                
            }

            .article img {
                width: 100%;
                height: 220px;
                object-fit: cover;
                margin-bottom: 5px;
            }

            .article a  {
            color: #555;
            font-size: 15px;
            padding: 10px;
            letter-spacing: 0px;
            padding-bottom: 20px;
            margin-bottom: 20px;
            }

            .article a:hover{
                background: #FFF;
            }

            h3 {
               color: #FFF;
               font-size: 13px;
               padding: 10px 0;
               margin-top: -45px; 
               color:yellow;
               padding-left: 15px;
               
            }

            h2 {
                font-size: 22px;
                text-transform: uppercase;
                padding: 6px 20px 6px 10px;
                color: #fff;
                width: 100%;
                
                background: #F08080;
                margin-right: -20px;
                
               
               
                
            }
            .navegacion {
                background: #D8D7D7;
                flex: 1 1 100%;
                font-weight: bold;
            }

        .aside {
            background: white;
            flex: 1 1 40%;
            width: fit-content;
            display: flex;
            margin-top: 10px;
            text-align: center;
            padding: 20px;
            margin: 0px;
            margin-top:-10px;
            margin-right:-10px;
            margin-bottom: -30px;
            
        }    


            .publicidad {
                width: 250px;
                display: flex;
                flex-flow: column nowrap;
                background: #D8D7D7;
                margin-top:-20px;
            margin-left:-10px;
            margin-right: -20px;
                /*background: #ffea85;*/
            }

            .publicidad p  {
               font-weight: 800;
               font-size: medium;
            }

            .publicidad h5  {
                font-size: x-large;
                font-weight:600;
             }
/*
            background: #ececec;
                    
                    flex:1 1 auto;
                    display: flex;
                    flex-flow: row nowrap;
                    color:#444;
                    font-size: 13px;
                    letter-spacing: 1px;
                    flex: 1 1 40%;
                    margin: 0px 10px 0 0px;
                    background: #ececec;
                    padding: 0px;
                    margin-bottom: 0px;
*/


    .footer {
       
        /*background: #000;*/
        /*display:none;*/
    }
        .pie {
            text-align: center;
            padding: 0px;
            margin-left: -10px;
            margin-right: -10px;
            background: #F5F1F1;
            
        }


@media all and (max-width:800px) {
    .section {
        flex-direction: column;
    }

    .social {
        flex-flow: column nowrap;
        height: auto;
    }

    .publicidad {
        width: 120%;
        display: flex;
        margin-top:-20px;
    margin-left:-20px;
    font-size: medium;
    
        /*background: #ffea85;*/
    }

    .navegacion  {
        font-size: small;
        font-weight:600;
     }

     .publicidad p  {
        font-weight: 800;
        font-size: small;
     }

     .publicidad h5  {
         font-size: 14px;
         font-weight:small;
      }
}

@media all and (max-width:620px) {
    
    .texto-principal {
        background: rgba(0,0,0,0.1);
        margin-top: 200px;
        height: 135px;
        margin-bottom: 0px;
        margin-left: 0px;
        margin-right: 0px;
       
    }
        h1 {
            display: flex;
            font-size: 24px;
            text-align: center;
            color:rgba(245, 156, 123, 0.75);
            justify-content:space-around; 
        }


    
    .menu {
        flex-flow: column nowrap;
        height: auto;
    }
    
    .social {
        flex-direction: row;
        height: auto;
        margin-bottom:60px;
    }

    .nav {
        flex-flow: column nowrap;
        height: auto;
    }

    .aside {
       /*background: #DE805D;*/
        flex-direction: column;
    }  

    .articulos {
        flex-direction: column;
        /*background: #304D6D;*/
    }  

    .article {
       /* background: #75949B;*/
    }

    .navegacion {
        
    }

    .publicidad {
       /* background: #E8B774;*/
    }
    .section {
       /* background: #F3E84C;*/
    }

    .aside {
        background: #D8D7D7;
        flex: 1;
        width: fit-content;
        display: flex;
        margin-top: 10px;
        text-align: center;
        padding: 20px;
        margin: 0px;
        margin-top:-10px;
        margin-right:40px;
        margin-bottom: 30px;
        
    }   
    
}